body {
    background-image: url(../images/dictionnary.jpg);
    background-size:cover ;
    background-repeat: no-repeat;
    }
 
 footer{
     display:flex;
     align-items:flex-end;
 }
 #first {
     color:rgb(104, 187, 217);
     background-color: aliceblue;
     text-align: center;
     font-size: 1.5em;
     font-family: fantasy;
     text-shadow: 2px 4px 6px #000000;
     outline-style: groove;
     -webkit-text-stroke: 1px rgb(130, 104, 217);
 }
 button{
     outline: 2px dashed rgb(104, 217, 168);
     text-shadow: 2px 4px 6px black;
     font-family: fantasy;
     color:rgb(217, 213, 104);
     font-size:30px;
     -webkit-text-stroke: 1px rgb(217, 144, 104);
     margin:0.5em;
     
 }
 main,footer{
     
     align-content: center;
     justify-content:center;
 
 }
 #definitionContainer{
     outline: 2px groove rgb(104, 187, 217);
     margin:0.5em;
     padding:0.5em;
     background-color:rgb(104, 217, 168);
     font-family:'Times New Roman', Times, serif;
     font-size:20px;
     color: dodgerblue;
     -webkit-text-stroke: 0.4px black;
     display: block;
 }
 #errorContainer{
     outline: 2px groove red;
     margin:0.5em;
     padding:0.5em;
     background-color:rgb(242, 166, 12);
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size:20px;
     color: rgb(112, 10, 6);
     -webkit-text-stroke: 0.4px black;
     display: none;
 }
 
 footer{
 background-color: ghostwhite;
 text-align: center;
 outline: 2px groove rgb(104, 187, 217);
 margin:0,5em;
 display: block;
 }
 html, body {
     width: 100%;
     height: 100%;
 }
 